@import "bourbon/bourbon";
@import "normalize";

*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
}

.clearfix{
  @include clearfix;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

img{
  max-width: 100%;
  max-height: 100%;
}

a{
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

input{
  background-color: none;
  border: none;
  outline: none;
}

$color1: #2B3E51;
$color2: #227FBB;
$color3: #2C97DE;
$color4: #FFFFFF;

.btn{
  font-size: 14px;
  font-weight: 700;
  border-radius: 100px;
  padding: .75em 1.25em;
}

.btn.btn-solid.btn-dark{
  background-color: $color1;
  color: $color4;
}

.btn.btn-solid.btn-light{
  background-color: $color4;
  color: $color1;
}

.btn.btn-hollow{
  border: 3px solid $color1;
  color: $color1;
}

.btn.btn-hollow.btn-light{
  border-color: $color4;
  color: $color4;
}

/*---------------------------------------------------*/
// Banner
/*---------------------------------------------------*/

.banner{
  position: relative;
  background-image: url(../img/banner-bg@3x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 100vh;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color3;
    opacity: 0.85;
    z-index: 2;
  }
}

.top-header{
  position: relative;
  z-index: 3;
  min-height: 80px;
  padding: 24px;

  .logo{
    max-width: 170px;
    a{
      display: block;
    }
  }

  .navigation{
    li{
      display: inline-block;

      &:first-child{
        margin-right: 48px;
      }

      a{
        display: block;
      }
    }
  }
}

.main-banner{
  margin-top: 3em;
  position: relative;
  z-index: 3;
  text-align: center;

  h1{
    font-size: 64px;
    margin: 0;
    font-weight: 900;
    color: $color4;
    margin-bottom: 30px;
    text-shadow: 0 3px 3px rgba(0,0,0,0.35);
  }

  .find-card{
    max-width: 800px;
    min-height: 400px;
    padding-top: 72px;

    margin: 0 auto;
    background-color: $color4;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.5);

    .input-list{
      @include clearfix;
      margin: 1em 0;
    }

    .input{
      float: left;
      width: 33%;
    }

    input[type="text"], input[type="datetime"]{
      background-color: $color1;
      color: $color4;
      font-size: 16px;
      font-weight: 700;
      font-family: 'Raleway', sans-serif;
      padding: 1.25em;
      border-radius: 100px;


      &::-webkit-input-placeholder{
      	color: $color4;
      }

      &:-moz-placeholder{
      	color: $color4;
      }

      &::-moz-placeholder{
      	color: $color4;
      }

      &:-ms-input-placeholder{
      	color: $color4;
      }

      &:focus::-webkit-input-placeholder {
      	color: transparent;
      }

    }

    .seats-field{
      margin-top: 3em;
      margin-bottom: 4em;

      label{
        display: inline-block;
        font-size: 24px;
        vertical-align: top;
        font-weight: 700;
        margin-right: 1em;
      }

      .seats-options{
        display: inline-block;
        @include clearfix;

        .option{
          float: left;
        }

        label{
          font-size: 24px;
          font-weight: 700;
          color: $color1;
          font-family: 'Montserrat';
          padding: 0 1em;
        }

        input[type="radio"]{
          opacity: 0;
          visibility: hidden;
          position: relative;
          width: 0;
          height: 0;

          &:checked + label,
          &:focus + label{
            background-color: $color1;
            border-radius: 100px;
            // padding: .5em 1em;
            color: $color4;
          }
        }
      }
    }

    .card-actions{
      margin: 1em 0;
      a{
        display: inline-block;
        margin: 0 2em;
        font-size: 18px;
      }
    }
  }
}




/*---------------------------------------------------*/
//How it Works
/*---------------------------------------------------*/

.how{
  text-align: center;
  background-color: $color1;
  color: $color4;
  padding: 6em 0;

  h1{
    font-size: 72px;
    font-weight: 900;
    color: $color4;
    text-shadow: 0 6px 6px rgba(0,0,0,0.5);
    margin: 0;
  }

  .headings{
    margin: 6em;
    .label{
      font-size: 36px;
      margin: 0 2em;
      font-weight: 700;
      display: inline-block;
      border-radius: 100px;
      padding: .75em 1.25em;
    }
    .label.label-light{
      background-color: $color4;
      color: $color1;
    }
  }

  .steps{
    @include clearfix;
    padding: 0 5em;
  }

  .step{
    float: left;
    margin: 2em;

    h1, div{
      display: inline-block;
    }

    h1, h3, p{
      margin: 0;
      color: $color4;
    }

    h1{
      font-size: 200px;
      font-weight: 900;
      font-family: 'Montserrat', sans-serif;
    }

    div{
      text-align: left;
    }

    h3{
      font-size: 40px;
      font-weight: 700;
    }
    p{
      font-size: 24px;
      font-weight: 700;
    }
  }
}


/*---------------------------------------------------*/
// Features
/*---------------------------------------------------*/

.features{
  .feature{
    @include display(flex);
    padding: 2em;

    &::nth-child(2n){
    }

    .info{
      background-color: $color1;
      color: $color4;
      width: 51%;
      padding: 3.5em;
      margin: 0 2%;

      h1{
        font-size: 64px;
        font-weight: 900;
      }
      p{
        font-size: 24px;
        font-weight: 500;
      }
    }
    .image{
      width: 41%;
      margin: 0 2%;
      text-align: center;
      img{

      }
    }
  }
}


/*---------------------------------------------------*/
//Statistics
/*---------------------------------------------------*/

.statistics{

  background-color: $color1;
  padding: 4em 0;
  text-align: center;

  h1{
    font-size: 54px;
    font-weight: 900;
    text-shadow: 0 8px 8px rgba(0,0,0,0.5);
    color: $color4;
  }

  .stats-card-list{
    text-align: center;
  }

  .stat-card{
    display: inline-block;
    text-align: center;
    margin: 1em ;

    background-color: $color4;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.5);

    width: 260px;
    height: 260px;
    vertical-align: top;

    img{
      margin: 1em 0;
    }
    h3{
      font-size: 36px;
      font-weight: 500;
      margin: 0;
      margin-bottom: 10px;
    }
    h4{
      font-size: 24px;
      font-weight: 500;
      margin: 0;
    }
  }
}


/*---------------------------------------------------*/
// Testimonials
/*---------------------------------------------------*/

.testimonials{
  background-color: $color4;
  color: $color1;
  padding: 4em;

  .testimonial{
    h1{
      font-size: 36px;
      font-weight: 700;
      color: $color1;
      margin: 2em 0;
      position: relative;

      // &::before{
      //   content: '"';
      //   font-size: 100px;
      //   position: absolute;
      //   font-family: 'Montserrat';
      //
      //   top: 2em;
      //   left: 2em;
      // }
      //
      // &::after{
      //   content: '"';
      //   font-size: 100px;
      //   position: absolute;
      //   font-family: 'Montserrat';
      //   bottom: 2em;
      //   right: 2em;
      // }

    }
    h3{
      font-size: 24px;
      font-weight: 700;
      color: $color2;
      margin: 1em 0;
    }
  }

  .slider{
    margin: 3em 0;
    .slider-dot{

      display: inline-block;
      cursor: pointer;

      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ddd;
      margin: 0 12px;

      &.slider-dot--active{
        background-color: $color1;
      }
    }
  }
}



/*---------------------------------------------------*/
// Save Now
/*---------------------------------------------------*/

.save-now{
  background-image: url(../img/save-now-bg@3x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
  padding: 3em 0;
  text-align: center;

  div{
    position: relative;
    z-index: 3;
  }

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color4;
    opacity: 0.8;
    z-index: 2;
  }

  h1{
    font-size: 72px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 0.5em;
  }

  a{
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 1em 0;
    font-size: 30px;
  }
}


/*---------------------------------------------------*/
// Footer
/*---------------------------------------------------*/

.footer{

  padding: 4em 2em;

  .company-info{
    .logo{
      a{
        img{

        }
      }
    }
    p{
      font-size: 16px;
      font-weight: 500;
    }
  }

  .footer-nav{
    .f-nav{
      margin: 0 3.25em;
      display: inline-block;
      vertical-align: top;

      h3{
        font-size: 20px;
        font-weight: 800;
        color: $color1;
        margin: 2em 0;
        margin-top: 0;
      }

      ul{
        li{
          a{
            display: block;
            font-size: 16px;
            font-weight: 700;
            color: $color2;
            margin: 1.75em 0;
          }
        }
      }
    }
  }
}
